{% extends "base.html" %}

{% block title %}
User Analytics
{% endblock %}

{% block content %}

<h1 class="mb-4">User Analytics</h1>

<p class="text-muted mb-5">
Detailed user activity, engagement, and participation analysis
</p>

<!-- Top Active Users -->

<div class="analytics-card border-blue mt-4">

    <h3 class="mb-4 fw-bold">
        Top Active Users
    </h3>

    <table class="table">

        <thead>
            <tr>
                <th>User</th>
                <th>Messages</th>
            </tr>
        </thead>

        <tbody>

        {% if busy_users is defined %}

            {% for user, count in busy_users.items() %}

            <tr>
                <td>{{ user }}</td>
                <td>{{ count }}</td>
            </tr>

            {% endfor %}

        {% endif %}

        </tbody>

    </table>

</div>

<!-- User Level Analytics -->

<div class="analytics-card border-green mt-4">

    <h3 class="mb-4 fw-bold">
        User-Level Analytics
    </h3>

    <table class="table">

        <thead>
            <tr>
                <th>User</th>
                <th>Total Messages</th>
                <th>Total Words</th>
                <th>Avg Message Length</th>
            </tr>
        </thead>

        <tbody>



        {% if user_analysis is defined %}

            {% for user, stats in user_analysis.items() %}

            <tr>
                <td>{{ user }}</td>
                <td>{{ stats.messages }}</td>
                <td>{{ stats.words }}</td>
                <td>{{ stats.avg_length }}</td>
            </tr>

            {% endfor %}

        {% endif %}

        </tbody>

    </table>

</div>

<!-- Monthly Timeline -->

<div class="analytics-card border-purple mt-4">

    <h3 class="mb-4 fw-bold">
        Daily Chat Timeline
    </h3>

    <div id="daily-chart"></div>

</div>

<script>

    var dailyGraph = JSON.parse('{{ daily_timeline_json | safe }}');

    Plotly.newPlot(
        'daily-chart',
        dailyGraph.data,
        dailyGraph.layout
    );

</script>

<div class="analytics-card border-orange mt-4">

    <h3 class="mb-4 fw-bold">
        Monthly Chat Timeline
    </h3>

    <div id="timeline-chart"></div>

</div>

<script>

    var timelineGraph = JSON.parse('{{ timeline_json | safe }}');

    Plotly.newPlot(
        'timeline-chart',
        timelineGraph.data,
        timelineGraph.layout
    );

</script>

<div class="analytics-card border-red mt-4">

    <h3 class="mb-4 fw-bold">
        Hourly Chat Activity
    </h3>

    <div id="hourly-chart"></div>

</div>

<script>

    var hourlyGraph = JSON.parse('{{ hourly_timeline_json | safe }}');

    Plotly.newPlot(
        'hourly-chart',
        hourlyGraph.data,
        hourlyGraph.layout
    );

</script>

<div class="analytics-card border-purple mt-4">

    <h3 class="mb-4 fw-bold">
        Night Owl Detection
    </h3>

    <table class="table">

        <thead>
            <tr>
                <th>User</th>
                <th>Night Activity %</th>
                <th>Behavior Type</th>
            </tr>
        </thead>

        <tbody>

        {% for user, data in night_owl_data.items() %}

            <tr>
                <td>{{ user }}</td>
                <td>{{ data.night_percentage }}%</td>
                <td>{{ data.label }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>


<div class="analytics-card border-dark mt-4">

    <h3 class="mb-4 fw-bold">
        Weekly Activity Heatmap
    </h3>

    <div id="heatmap-chart"></div>

</div>

<script>

    var heatmapGraph = JSON.parse('{{ heatmap_json | safe }}');

    Plotly.newPlot(
        'heatmap-chart',
        heatmapGraph.data,
        heatmapGraph.layout
    );

</script>

{% endblock %}